# -----------------------------

# Python

# -----------------------------

**pycache**/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover
.Python

# -----------------------------

# Virtual Environment

# -----------------------------

venv/
env/
ENV/
.venv/
myvenv/

# -----------------------------

# Environment Variables

# -----------------------------

.env
.env.*
*.env

# -----------------------------

# MacOS

# -----------------------------

.DS_Store

# -----------------------------

# VS Code

# -----------------------------

.vscode/

# -----------------------------

# Logs

# -----------------------------

*.log

# -----------------------------

# Jupyter

# -----------------------------

.ipynb_checkpoints/

# -----------------------------

# LangChain / AI Artifacts

# -----------------------------

vectorstore/
faiss_index/
chroma/
*.faiss
*.pkl

# -----------------------------

# Build / Cache

# -----------------------------

build/
dist/
*.egg-info/

# -----------------------------

# Temporary Files

# -----------------------------

tmp/
temp/
*.tmp

# -----------------------------

# Streamlit

# -----------------------------

.streamlit/secrets.toml

# -----------------------------

# Text Files

# -----------------------------

*.txt
